pandas>=2.0.0
openpyxl>=3.1.0
requests>=2.31.0
playwright>=1.40.0
nest_asyncio>=1.5.0
jupyterlab>=4.0.0
ipykernel>=6.0.0

matplotlib
seaborn
scipy
statsmodels
scikit-learn
flaml

apify-client
python-dotenv
